{% load staticfiles %}

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="Author" content="Cristina Barros, Adrián Gonzalez, Óscar" />
        <meta name="Language" content="es" />
        <meta name="Revisit" content="30 days" />
        <meta name="Distribution" content="Global" />
        <title>Sistemas Industriales</title>

        <script type="text/javascript" src="{% static "webapp/js/cambiarFecha.js" %}"></script>
        <link rel="stylesheet" href="{% static "webapp/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "webapp/css/Style.css" %}">

        
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="http://code.highcharts.com/stock/highstock.js"></script>

        
        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="http://code.highcharts.com/modules/exporting.js"></script>
        <script src="{% static "webapp/js/grafica.js" %}" type="text/javascript"></script>
        
        
        <script>
            [
                {
                    'time': '2013-10-22T04:19:10.344512',
                    'PAct': 184156.16, 
                    'FactorPotencia': 1.0, 
                    'PReact': 0.0, 
                    'I': 1703.936, 
                    'PAparente': 304087.04, 
                    'Frec': 50.0, 
                    'V': 232.33
                },
                {
                    'time': '2013-10-22T05:19:10.344512',
                    'PAct': 204156.16, 
                    'FactorPotencia': 0.5, 
                    'PReact': 0.0, 
                    'I': 1503.936, 
                    'PAparente': 324087.04, 
                    'Frec': 45.0, 
                    'V': 230.33
                }
            ]
        </script>
    </head>
    <body>
        <div id="base">
            <div id="container">
               <!-- Docs master nav -->
                <header class="navbar navbar-inverse  bs-docs-nav" role="banner">
              <div class="container">
                  
                <p class="navbar-brand">Cambiar fecha del aparato</p>
                <form class="navbar-form navbar-left form-inline" action="javascript:cambiarFecha()" onsubmit="return comprobFecha(this)">
                    <div class="form-group ">
                        <input id="tbDate" type="text" class="form-control" placeholder="dd/MM/YYYY hh:mm:ss">  
                    </div>
                    
                    <button type="submit" class="btn btn-default">Cambiar</button>
                    
                </form>
                <p class="navbar-text red" id="errDate"></p>
                <button type="button" onclick="prueba()" class="btn btn-default">Cambiar</button>
              </div>
            </header>
                <div id="content">
                    <div id="date" class="h3">Fecha actual: </div>
                    <div id="VChart" class="chart pull-left">
                        
                        <div id="contV" style="min-width: 400px; height: 300px; margin: 0 auto"></div>
                    </div>
                    <div id="IChart" class="chart pull-left">
                        
                        <div id="contI" style="width: 400px; height: 300px; margin: 0 auto"></div>
                    </div>
                    <div id="PactChart" class="chart pull-left">
                        
                        <div id="contP" style="width: 400px; height: 300px; margin: 0 auto"></div>
                    </div>
                    <div id="FPChart" class="chart pull-left">
                        
                        <div id="contFP" style="width: 400px; height: 300px; margin: 0 auto"></div>
                    </div>
                    <div id="FChart" class="chart pull-left">
                      
                       <div id="contF" style="width: 400px; height: 300px; margin: 0 auto"></div>
                    </div>
                  
                </div>
                <div id="foot"></div>
            </div> 
        </div>
    </body>
</html>