{% load staticfiles %}

<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="Author" content="Cristina Barros, Adrián Gonzalez, Óscar" />
        <meta name="Language" content="es" />
        <meta name="Revisit" content="30 days" />
        <meta name="Distribution" content="Global" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Informatica de Comunicaciones</title>

        <script type="text/javascript" src="{% static "webapp/js/cambiarFecha.js" %}"></script>
        <link rel="stylesheet" href="{% static "webapp/css/bootstrap.min.css" %}">


        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        <script>
                    _datetime = "{{ date }}"
                    _data = {{ data | safe }}
                    
        </script>
    </head>
    <body>
        <div id="base">
            <div class="container">
                <!-- Docs master nav -->
                <!-- <header class="navbar navbar-inverse  bs-docs-nav" role="banner">
                 
               </header>-->
                <script> //document.write(_data.Imedia);
                    //d = JSON.parse(_data);
               
                </script>
                <div id="content">
                    <div class="form-group">
                        <label for="consumoInst">Consumo Instantáneo</label>
                        <div id="consumoInst" class="well well-sm">
                            <script>
                               
                                document.write(_data.ConsumoInst.toFixed(2));
                            </script>
                            €/h
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="consumoDiario">Consumo Diario</label>
                        <div id="consumoDiario" class="well well-sm">
                            <script>
                               
                                document.write(_data.ConsumoDiario.toFixed(2));
                            </script>
                            €
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="voltaje">Voltaje</label>
                        <div id="voltaje" class="well well-sm">
                            <script>
                               
                               document.write(_data.Vmedio.toFixed(2));
                            </script>
                            V
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="intensidad">Intesidad</label>
                        <div id="intensidad" class="well well-sm">
                            <script>
                               
                                document.write(_data.Imedia.toFixed(2));
                            </script>
                            A
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pActiva">Potencia Activa</label>
                        <div id="consumoInst" class="well well-sm">
                            <script>
                               
                                document.write(_data.P.toFixed(2));
                            </script>
                            kW
                        </div>
                    </div>
                </div>
                <div id="foot"></div>
            </div> 
        </div>
    </body>
</html>